appdirs==1.4.3
attrs==19.1.0
black==19.3b0
boto3==1.9.134
botocore==1.12.134
Click==7.0
docutils==0.14
Flask==1.0.2
future==0.17.1
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
numpy==1.16.3
pandas==0.24.2
PyAthena==1.6.1
pycodestyle==2.5.0
python-dateutil==2.8.0
pytz==2019.1
s3transfer==0.2.0
six==1.12.0
tenacity==5.0.4
toml==0.10.0
urllib3==1.26.5
werkzeug>=0.15.3
